services:
  postgresql:
    image: registry.cn-beijing.aliyuncs.com/dushixiang/postgres:16.4
    environment:
      POSTGRES_DB: pika
      POSTGRES_USER: pika
      POSTGRES_PASSWORD: pika
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    ports:
      - "25432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pika"]
      interval: 10s
      timeout: 5s
      retries: 5
