@import "tailwindcss";

/* 全局样式 */
* {
    scrollbar-width: thin;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(209, 213, 219);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 163, 175);
}